@inherits System.Web.Mvc.WebViewPage

<ul>
	<li>Jukebox
		<ul>
			<li><a target="_blank" href="https://www.playjuke.com">Web platform</a> for collaboratively building and sharing playlists using Spotify integration</li>
			<li><a target="_blank" href="https://play.google.com/store/apps/details?id=jukebox.jukebox">Andoid</a></li>
			<li>iOS (pending approval)</li>
		</ul>
	</li>
	<li>MineSweeper Solution Analyzer
		<ul>
			<li>Native desktop app for analyzing and visualizing programmatic solutions to the game Minesweeper</li>
			<li>Details and installation instructions on <a target="_blank" href="https://github.com/rallen090/MineSweeperAnalyzer">GitHub</a></li>
		</ul>
	</li>
	<li>Web Terminal
		<ul>
			<li>Web-based command-line terminal implementation (<a href="http://ryanallen.io">hosted on this same site</a>)</li>
			<li><a target="_blank" href="https://github.com/rallen090/WebTerminal">GitHub</a></li>
		</ul>
	</li>
	<li>BattleShip Simulation Server (inactive)
		<ul>
			<li><a target="_blank" href="https://github.com/rallen090/BattleShip">GitHub</a></li>
		</ul>
	</li>
</ul> 