@inherits System.Web.Mvc.WebViewPage

<h2>Terminal website launched!</h2>
<p>
	Hello world! Check out web terminal <a href="~/Views/Terminal/Terminal.cshtml">here</a>! The entire contents of this website are viewable from the terminal by navigating the directories.
	You can also explore the 'fun' directory if you are fun-loving and adventurous.
</p>
<div><i>Published: 11/6/2016</i></div>