@inherits System.Web.Mvc.WebViewPage

<h2>Water Cooler Trivia has been launched!</h2>
<p>
	You can see <a target="_blank" href="https://www.playjuke.com">Jukebox</a> in its current form now. 
	The <a target="_blank" href="https://play.google.com/store/apps/details?id=jukebox.jukebox">Andoid</a> app is published; the iOS app is pending approval.
	<br/> 
	<br/> 
	Expect a full launch soon!
</p>
<div><i>Published: 3/28/2018</i></div>