@inherits System.Web.Mvc.WebViewPage

<h2>Water Cooler Trivia has been launched!</h2>
<p>
	<a target="_blank" href="https://www.watercoolertrivia.com">Water Cooler Trivia</a>
	<br/> 
</p>
<div><i>Published: 7/7/2018</i></div>