@{
	ViewBag.Title = "blog";
}
<h2>@ViewBag.Title.</h2>
<hr>
@Html.Partial("~/FileSystem/website/blogs/blog3.cshtml")
<hr>
@Html.Partial("~/FileSystem/website/blogs/blog2.cshtml")
<hr>
@Html.Partial("~/FileSystem/website/blogs/blog1.cshtml")