@{
    ViewBag.Title = "Home";
}
<br/>
<div class="jumbotron">
    <h1>Hello.</h1>
    <p class="lead">Welcome! This is my home page.</p>
    <p><a href="https://www.playjuke.com" class="btn btn-primary btn-lg">Click me!</a></p>
</div>