@inherits System.Web.Mvc.WebViewPage
<p>
	Hello! My name is Ryan Allen. I am currently a Senior Software Engineer at <a target="_blank" href="http://www.joinapt.com">APT</a>.
	<br/>
	<br/>
	This is my personal website where I'll primarily post projects and such. I encourage you to check out the web terminal on this site (cd fun).
	<br/>
	<br/>
	You can view my GitHub <a target="_blank" href="https://github.com/rallen090">here</a> and resume <a target="_blank" href="~/FileSystem/website/resume/Resume_April2017.pdf">here</a>.
</p>