@inherits System.Web.Mvc.WebViewPage

<ul>
	<li><a target="_blank" href="mailto:rallen090@gmail.com">rallen090@gmail.com</a></li>
	<li><a target="_blank" href="https://github.com/rallen090">GitHub</a></li>
	<li><a target="_blank" href="https://www.facebook.com/ryan.allen.9615">Facebook</a></li>
	<li><a target="_blank" href="https://www.linkedin.com/in/ryan-allen-bb40ab56/">LinkedIn</a> <i>(out-of-date: recommend alternate medium)</i></li>
</ul> 